<ion-content fullscreen padding1 scroll-y="false">
  <ion-slides pager="true" #slides>
    <ion-slide>
      <img src="/assets/slide1.jpg"/>
      <h2>Chose your goal</h2>
      <p>Start improving in your favourite category: food, energy, stuff, water.</p>
    </ion-slide>

    <ion-slide>
      <img src="/assets/slide2.jpg"/>
      <h2>Complete your quests</h2>
      <p>Do small, simple and clear quests every day to reach the ultimate goal....</p>
    </ion-slide>

    <ion-slide>
      <img src="/assets/slide3.jpg"/>
      <h2>Saving the planet</h2>
      <ion-button fill="clear" [routerLink]="'/home'">Be a hero <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" style="" [routerLink]="'/home'">skip intro</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" style="" (click)="next()">next</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
